@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --font-notosans: "Noto Sans", sans-serif;

  --color-background: var(--bg-primary);
  --color-icon: var(--bg-icon);
  --color-title: var(--text-primary);
  --color-subheading: var(--text-secondary);
  --color-description: var(--text-accent);
  --color-card-filter: var(--bg-card-filter);
  --color-toggle-active: var(--toggle-active);
  --color-toggle-inactive: var(--toggle-inactive);
  --color-linear-one: var(--bg-linear-one);
  --color-linear-two: var(--bg-linear-two);
}

:root {
  @apply font-notosans;

  /* untuk light mode */
  --bg-primary: #ddebfa;
  --bg-icon: #ededed;
  --text-primary: #0d1633;
  --text-secondary: #5a5d66;
  --text-accent: #25283a;
  --bg-card-filter: #f9fcfe;
  --toggle-active: hsl(3, 77%, 44%);
  --toggle-inactive: #c7c7c7;
  --bg-linear-one: #ebf2fc;
  --bg-linear-two: #ebf2fc;
}

.bg-theme {
  @apply from-linear-one to-linear-two bg-linear-180 bg-gradient-to-b from-0% to-100%;
}

.bg-theme .dark {
  @apply from-linear-one to-linear-two bg-linear-180 bg-gradient-to-b from-0% to-100%;
}

.dark {
  --bg-primary: #0d1633;
  --bg-icon: #35394b;
  --text-primary: #f9fcfe;
  --text-secondary: #c7c7c7;
  --text-accent: #ededed;
  --bg-card-filter: #25283a;
  --toggle-active: hsl(3, 71%, 56%);
  --toggle-inactive: #5a5d66;
  --bg-linear-one: #040918;
  --bg-linear-two: #091540;
}

.focus-state {
  @apply focus:outline-toggle-active focus:outline-2 focus:outline-offset-2;
}
